* { font-family: Poppins }

.hero img { max-height:400px; }

.hero .container { width :60%; }

.hero h1 { font-size: 120%; font-weight: bold; }
.hero h2 { font-size: 150%; }

.home-1 { background-color: #fff; }
.home-2 { background-color: #e2e2e2; }
.home-3 { background-color: #fff; }
.home-4 { background-color: #DEFCE4; }


.home-1 {
  background-image: url(../img/landscape.png) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.home-1 .column {
  background-color: rgba(0,0,0,0.4);
  padding: 2em;
}

.home-1 p {
  color: #fff;
  font-size: 1.3em;
  font-weight: normal;
}

.footer { background-color: #fff; }
.footer img.inline { max-height: 64px; }
.footer img.stacked { max-height: 128px; }


.show-structure .column { border: 1px solid rgba(0,0,0,0.3); }
.show-structure .section { border: 1px solid rgba(255, 100, 100,0.3); }

p.has-margin-bottom-1 {margin-bottom: 1em; }

a { text-decoration: underline }

.caption { font-style: italic; font-size: 80%; margin-bottom: 1em;  }