<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- Document Settings -->
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" rel="stylesheet">
    <link href="css/opie.css" rel="stylesheet">

</head>
